@charset "UTF-8";
body{
    background-color: #20b2aa;
}
div > p {
    display: none;
}
div:hover > p {
    display: block;
    height: 20px;
}
div:hover > p{
    font-family: monospace;
    font-size:20px;
    color: blue;
    border: 1px solid rgb(16, 236, 45) ;  
    width: 65px;
    padding: 10px;
    box-shadow: black 5px 5px 15px;
    background-color: #1AC98F;
    cursor: pointer;

}

 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-shadow: green 1px 1px 2px;
}